.window {
  height: calc(100% - 64px - 64px);
  padding:20px;
  overflow: scroll;
  color: #696969;
}

.message-wrapper {
  margin-bottom: 20px;
}

.message-wrapper h2 {
  color: #363636;
  font-weight: bold;
  margin-bottom:6px;
}

.message-wrapper h2 small.timestamp {
  font-style: italic;
  font-size: 65%;
  margin-left: 8px;
}

.message-wrapper:last-of-type {
  margin-bottom: 0;
}
