.window {
  @include calc(height, "100% - 75px - 64px");
  overflow: scroll;
  color: #696969;
  padding: 0 20px 20px 20px;
  border-bottom: 2px solid #ccc;
}

.welcome-message {
  margin-bottom:40px;
  h2 {
    margin-bottom:0;
  }
  p {
    margin: 0;
    font-style: italic;
  }
}

.message-wrapper {
  margin-bottom: 20px;
  span {
    color: #363636;
    font-weight: bold;
    margin-bottom:0px;
  }
  p {
    margin:0px;
  }
  :last-of-type {
    margin-bottom: 0;
  }
  span small.timestamp {
    font-style: italic;
    font-size: 65%;
    margin-left: 8px;
  }
  .avatar {
    font-size: 44px;
    margin-right:4px;

  }
}
